.container {
    width: inherit;
    height: 50px;
    z-index: 200;
    display: flex;
    justify-content: right;
    border: 1px solid black;
    margin: 2px;
}

.dateInput {
    min-width: 150px;
    margin: 5px 15px 5px auto;
}