.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    max-height: inherit;
}

.states {
    display: flex;
    justify-content: left;
    width: 50%;
}

.statesName {
    width: 25px
}

.stateCheckBox {
    margin: 5px 0px 10px 10px;
}

.selectAll {
    margin-bottom: 5px;
}